In [22]:
import pandas as pd
import numpy as np
import ast
import json

In [23]:
file = r"/home/bars1k/football_project/data.csv"
df = pd.read_csv(file)
df.head(3)

,product_id,created_at,title,price,old_price,description,avg_vote_rate,num_votes,labels,related_products,...,features.color,features.plays_in_these_boots,features.manufacturers_data,features.team,category_name,category_id,features.ball_size,features.connecting_type,features.weigh,features.league
0,1,2025-04-10T21:36:41.167902+02:00,Cleats Adidas F50 Elite Fg - Red,208.99,260.0,Unlock speed with adidas F50. Designed for max...,4.4,9.0,[],"[199594, 199576, 199575, 199574, 199573, 197618]",...,Red,Lionel Messi,"Adidas, Hoogoorddreef 9A, Amsterdam 1101 Ba, Nl",NaN,boots,1,NaN,NaN,NaN,NaN
1,2,2025-04-10T21:36:41.167902+02:00,Cleats Nike Zoom Mercurial Vapor 16 Elite Nu1 ...,279.99,NaN,NaN,5.0,22.0,['Last Chance'],"[196655, 195138, 194479, 193292, 191781, 191712]",...,Purple,Robert Lewandowski,"Global Distributor Of Nike, Inc. 5701 West Sla...",NaN,boots,1,NaN,NaN,NaN,NaN
2,3,2025-04-10T21:36:41.167902+02:00,Adidas Mundial Team Boots - Black,107.99,150.0,This is probably one of the most popular shoe ...,4.9,826.0,[],[189641],...,Black,NaN,"Adidas, Hoogoorddreef 9A, Amsterdam 1101 Ba, Nl",NaN,boots,1,NaN,NaN,NaN,NaN

In [26]:
products_cols = ["product_id", "created_at", "title", "price", "old_price", "description", "avg_vote_rate", "num_votes", "category_id"]
products = df[products_cols]
products["description"] = products["description"].replace({None: np.nan})
products["num_votes"] = products["num_votes"].astype("Int64")
products.head()

/tmp/ipykernel_2754/156552489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products["description"] = products["description"].replace({None: np.nan})
/tmp/ipykernel_2754/156552489.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products["num_votes"] = products["num_votes"].astype("Int64")

,product_id,created_at,title,price,old_price,description,avg_vote_rate,num_votes,category_id
0,1,2025-04-10T21:36:41.167902+02:00,Cleats Adidas F50 Elite Fg - Red,208.99,260.00,Unlock speed with adidas F50. Designed for max...,4.4,9,1
1,2,2025-04-10T21:36:41.167902+02:00,Cleats Nike Zoom Mercurial Vapor 16 Elite Nu1 ...,279.99,NaN,NaN,5.0,22,1
2,3,2025-04-10T21:36:41.167902+02:00,Adidas Mundial Team Boots - Black,107.99,150.00,This is probably one of the most popular shoe ...,4.9,826,1
3,4,2025-04-10T21:36:41.167902+02:00,Cleats Nike Zoom Mercurial Vapor 16 Elite Fg -...,269.99,NaN,Do you have an obsession with speed? The bigge...,4.6,11,1
4,5,2025-04-10T21:36:41.167902+02:00,Cleats Nike Phantom Luna Ii Elite Fg - Blue,168.99,279.99,Step into a new day and show the world what yo...,4.9,27,1

In [27]:
categories = df[["category_id", "category_name"]].drop_duplicates()
categories

     category_id category_name
0              1         boots
514            2         balls

In [40]:
labels = df[["product_id", "labels"]]
labels["labels"].unique()

# labels = labels[labels["labels"] != "[]"]
# labels["labels"] = labels["labels"].apply(ast.literal_eval)

# labels = labels.explode("labels").dropna().rename(columns={"labels": "label"})
# labels.head()

array(['[]', "['Last Chance']", "['Sale']", "['New', 'Exclusive']",
       "['New']", "['New', 'Last Chance']",
       "['New', 'Last Chance', 'Exclusive']", "['Exclusive']",
       "['Last Chance', 'Exclusive']", "['Sale', 'Last Chance']",
       "['Sale', 'Exclusive']", "['Sale', 'Last Chance', 'Exclusive']"],
      dtype=object)

In [29]:
related_products = df[["product_id", "related_products"]]
related_products["related_products"] = related_products["related_products"].apply(ast.literal_eval)
related_products = related_products.explode("related_products").dropna().rename(columns={"related_products": "related_product_id"})
related_products["related_product_id"] = related_products["related_product_id"].astype(int)
related_products.head(3)

/tmp/ipykernel_2754/801991093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  related_products["related_products"] = related_products["related_products"].apply(ast.literal_eval)

   product_id  related_product_id
0           1              199594
0           1              199576
0           1              199575

In [30]:
df.columns

Index(['product_id', 'created_at', 'title', 'price', 'old_price',
       'description', 'avg_vote_rate', 'num_votes', 'labels',
       'related_products', 'sizes.in_stock', 'sizes.out_of_stock',
       'features.product_type', 'features.producer', 'features.collections',
       'features.age', 'features.ground_type', 'features.type_of_class',
       'features.upper', 'features.type_of_binding',
       'features.boots_with_sock', 'features.collection', 'features.color',
       'features.plays_in_these_boots', 'features.manufacturers_data',
       'features.team', 'category_name', 'category_id', 'features.ball_size',
       'features.connecting_type', 'features.weigh', 'features.league'],
      dtype='object')

In [31]:
sizes = df[["product_id", "sizes.in_stock", "sizes.out_of_stock"]]

size_df = pd.DataFrame()
for col in sizes.columns[1:]:
    sizes[col] = sizes[col].apply(ast.literal_eval)

    explode = sizes[["product_id", col]].explode(col).dropna().rename(columns={col: "size"})
    explode["size"] = explode["size"].astype(str)
    explode["in_stock"] = True if col == "sizes.in_stock" else False

    size_df = pd.concat([x, explode], ignore_index=True)

size_df.head(3)

/tmp/ipykernel_2754/2027160316.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sizes[col] = sizes[col].apply(ast.literal_eval)

NameError: name 'x' is not defined

In [ ]:
features_cols = [col for col in df.columns if "features." in col]
features = df[["product_id", *features_cols]]
features.head(1)

,product_id,features.product_type,features.producer,features.collections,features.age,features.ground_type,features.type_of_class,features.upper,features.type_of_binding,features.boots_with_sock,features.collection,features.color,features.plays_in_these_boots,features.manufacturers_data,features.team,features.ball_size,features.connecting_type,features.weigh,features.league
0,1,Football Boots,Adidas,Adidas F50,Men,Firm Ground (Fg),Professional,Synthetic,Shoelace,No,Adidas Vivid Horizon Pack,Red,Lionel Messi,"Adidas, Hoogoorddreef 9A, Amsterdam 1101 Ba, Nl",NaN,NaN,NaN,NaN,NaN

In [ ]:
x = pd.melt(features, id_vars=["product_id"], value_vars=features_cols, var_name="feature", value_name="value").dropna()
x["feature"] = x["feature"].str.split(".").str[-1]
x["feature"].unique()

NameError: name 'features' is not defined